.holiday{
  color: orange;
}

h1{
  color: orange;
}

/* .container{
  width: 85vw;
  height: 85vh;
  display: flex;
}

.box{
  border: 1px solid grey;
  border-radius: 5px;
  background-color: lightgrey;
  opacity: 0.75;

} */
